<div class="report">
    <div app-head></div>
    <div class="ctr">
        <div class="ctr-left"></div>
        <div class="ctr-right">
            <input
                    placeholder="Select a date..."
                    moment-picker="ctrl.stringDate"
                    format="YYYY-MM-DD"
                    today="true"
                    min-date='ctrl.MinDate'
                    start-view="month"
                    change="ctrl.onChange(newValue, oldValue)"
                    ng-model="ctrl.momentDate">
            <span moment-picker="ctrl.component">
    {{ ctrl.component || 'Click here to select a date' }}
</span>
            <div class="container-fluid">
            <!--<div class="container">-->

            <!--<div class="row">-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
                <!--<div class="col-xs-1">.col-xs-1</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-8">.col-xs-8</div>-->
                <!--<div class="col-xs-4">.col-xs-4</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-4">.col-xs-4</div>-->
                <!--<div class="col-xs-4">.col-xs-4</div>-->
                <!--<div class="col-xs-4">.col-xs-4</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-xs-6">.col-xs-6</div>-->
                <!--<div class="col-xs-6">.col-xs-6</div>-->
            <!--</div>-->

        <!--</div>-->
            <!--<div class="container">-->

                <!--<div class="row">-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                    <!--<div class="col-sm-1">.col-sm-1</div>-->
                <!--</div>-->

                <!---->
                <!--<div class="row">-->
                    <!--<div class="col-sm-8">.col-sm-8</div>-->
                    <!--<div class="col-sm-4">.col-sm-4</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-4">.col-sm-4</div>-->
                    <!--<div class="col-sm-4">.col-sm-4</div>-->
                    <!--<div class="col-sm-4">.col-sm-4</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-6">.col-sm-6</div>-->
                    <!--<div class="col-sm-6">.col-sm-6</div>-->
                <!--</div>-->

            <!--</div>-->





            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
                <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            </div>

            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
            <div class="row">
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
            </div>

            <!-- Columns are always 50% wide, on mobile and desktop -->
            <div class="row">
                <div class="col-xs-6">.col-xs-6</div>
                <div class="col-xs-6">.col-xs-6</div>
            </div>


            <div class="row">
                <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

                <!-- Add the extra clearfix for only the required viewport -->
                <div class="clearfix visible-xs-block"></div>

                <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
            </div>

            <div class="row">
                <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
                <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
                <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>
            </div>

            <div class="row">
                <div class="col-md-4">.col-md-4</div>
                <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
            </div>

            <div class="row">
                <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
                <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
            </div>

            </div>
        </div>
    </div>
    <div app-foot></div>
</div>